# Core dependencies
fastapi
uvicorn
pydantic
pydantic-settings
numpy
librosa
onnxruntime
onnxruntime-directml
huggingface-hub

# Diarization
scikit-learn
torch
torchaudio
# discontinued: torch-directml==0.2.5.dev240914

# Async HTTP client
python-multipart
aiohttp

# Logging
structlog

# Progress bars
tqdm

# Optional: Metrics
prometheus-client

# Optional: Rate limiting
slowapi

python-dotenv