# Core dependencies
fastapi
uvicorn
pydantic
pydantic-settings
numpy
librosa
python-dotenv
# cpu only: onnxruntime==1.24.1
onnxruntime-directml==1.24.1
#onnxruntime-openvino==1.24.1
#openvino==2025.4.1
tokenizers
huggingface-hub

# Diarization
scikit-learn
torch
torchaudio
# discontinued: torch-directml==0.2.5.dev240914

# Async HTTP client
python-multipart
aiohttp

# Logging
structlog

# Progress bars
tqdm

# Optional: Rate limiting
slowapi

# Testing
pytest

# Streaming
sounddevice
websockets
pyaudiowpatch